@{
    ViewBag.Title = "Arama";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using IDETicaret.Models;
@model List<Product>

<div id="content" class="col-sm-9">


    <div class="product-filter">
        <div>
            <table style="width:90%;">
                <tr>
                    <td colspan="4"><h4>GELİŞMİŞ ARAMA</h4> <span id="UrunSayisi" name="UrunSayisi"></span></td>
                </tr>
                <tr>
                    <td style="padding:2px;"><input type="text" id="txtArama1" name="txtArama1" value="" class="form-control" /></td>
                    <td style="padding:2px;"><input type="text" id="txtArama2" name="txtArama2" value="" class="form-control" /></td>
                    <td style="padding:2px;"><input type="text" id="txtArama3" name="txtArama3" value="" class="form-control" /></td>
                    <td style="padding:2px;"><button onclick="AramaYap();" class="btn">Ara</button></td>
                </tr>
                <tr>
                    <td colspan="4" id="Bilgilendirme" name="Bilgilendirme">
                        Yukardaki kutucuklara aradığınız ürünle alakalı bir, iki veya üç kelime giriniz.
                        <br /> Örneğin, aradığınız ürün<strong> AGK 125 Yan Kapak Sağ Mavi </strong>ise kutucuklara;<br />
                        <span style="padding:5px;border:medium;background-color:bisque;margin:3px;">AGK</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Sağ</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Mavi</span> veya
                        <span style="padding:5px;border:medium;background-color:bisque;margin:3px;">AGK</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Yan</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Kapak</span> veya
                        <span style="padding:5px;border:medium;background-color:bisque;margin:3px;">AGK</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Kapak</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Mavi</span> veya
                        <span style="padding:5px;border:medium;background-color:bisque;margin:3px;">AGK</span><span style="padding:5px;border:medium;background-color:bisque;margin:3px;">Mavi</span> ... yazabilirsiniz.
                    </td>

                </tr>
            </table>

        </div>
    </div>
    <div class="row products-category" id="ajax-main">

    </div>

    <div id="load" style="display:none;">
        Yükleniyor...
    </div>



</div>


@section Scripts
{



    <script type="text/javascript">
        var pageNo = 1;
        var isPageLoad = true;
        var Calisiyor = false;
        var kelime = "";
        function AramaYap() {
            $("#Bilgilendirme").hide(2000);
            kelime = '' + $("#txtArama1").val() + ' ' + $("#txtArama2").val() + ' ' + $("#txtArama3").val() + ' ';
            $("#ajax-main").html("");
            pageNo = 1;
            isPageLoad = true;
            $("#load").show();
            $.ajax({
                url: '/Product/Search2',
                data: {
                    page: pageNo, keyword: kelime, kategori1: 0, kategori2: 0, kategori3: 0
                },
                success: function (data) {
                    if ($.trim(data) != '') {
                        $("#ajax-main").append(data);
                        pageNo++;
                    } else {
                        isPageLoad = false;
                    }
                    $("#load").hide();
                }
            });
        }

        $("#txtArama1").on('keydown', function (e) {
            if (e.which == 13) {
                AramaYap();
                return false;
            }
        });
        $("#txtArama2").on('keydown', function (e) {
            if (e.which == 13) {
                AramaYap();
                return false;
            }
        });
        $("#txtArama3").on('keydown', function (e) {
            if (e.which == 13) {
                AramaYap();
                return false;
            }
        });


        $(window).scroll(function () {
            if ($(window).scrollTop() + 300 >= $(document).height() - $(window).height()) {
                if (isPageLoad && Calisiyor == false) {
                    Calisiyor = true;
                    $("#load").show();
                    $.ajax({
                        url: '/Product/Search2',
                        data: {
                            page: pageNo, keyword: kelime, kategori1: 0, kategori2: 0, kategori3: 0
                        },
                        success: function (data) {
                            if ($.trim(data) != '') {
                                $("#ajax-main").append(data);
                                pageNo++;
                            } else {
                                isPageLoad = false;
                            }
                            $("#load").hide();
                            Calisiyor = false;
                        }
                    });
                }
            }
        });
    </script>

}


















