
@using IDETicaret.Models;
@{
    ViewBag.Title = "ConfirmOrder2";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    ETicaretEntities ocmde = new ETicaretEntities();
    var websiteName = ocmde.Setting.Find(4).Value;

}


@model IDETicaret.Models.Account


<div style="text-align:center;">
    <img src="@Url.Content("~/Content/UserNew/sepetilerlemesi/asama4.png")" alt="@System.Configuration.ConfigurationManager.AppSettings["SiteDomain"]" /><br />
    <span style="padding-right:80px;padding-left:80px;color:black;"><strong>Sepet</strong></span>
    <span style="padding-right:80px;color:black;"><strong>Teslimat</strong></span>
    <span style="padding-right:80px;color:black;"><strong>Ödeme</strong></span>
    <span style="padding-right:80px;color:black;"><strong>Onay</strong></span>
    <hr />
</div>
<div id="content" style="width:100%;font-size:20px;padding:30px;margin-top:0px;">


    <div style="font-size:25px;color:orange;"><strong>Ön Siparişiniz başarıyla oluşturuldu. Sipariş Numaranız : @ViewBag.OrderID</strong></div>
    <br />
    <div style="font-size:18px;">Stok kontrolü yapıldıktan sonra Müşteri Temsilcimiz sizinle irtibata geçerek, ödeme ve teslimat konularında bilgilendirme yapacaktır.</div>
    <br />
    <br />
    <div>@System.Configuration.ConfigurationManager.AppSettings["SiteDomain"]'u tercih ettiğiniz için teşekkür ederiz.</div>
    <br />
    <br /><br />
    <div>İrtibat No : 0(332) 345 47 22 - 23</div>
    <div>GSM : 0(555) 989 04 76</div>






</div>






@section scripts {




}  