
<aside id="column-left" class="col-sm-3 hidden-xs">

    <!-- Categories Accordion
    ============================================= -->
    <h3 class="subtitle"><span>Admin Menüsü</span></h3>
    <div class="box-category">
        <ul id="cat_accordion">
            <li class="menu">
                <a href="@Url.Action("Index", "Admin" , null)">Ana Sayfa</a> <span class="down"></span>
            </li>
            <li class="menu">
                <a href="@Url.Action("FirsatUrunleri", "Admin", null)">Fırsat Ürünleri</a> <span class="down"></span>
            </li>
        </ul>
    </div>
</aside>
